## Import the appropiate libraries

In [1]:
import tweepy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#### Numbers to access twitter api

In [2]:
CONSUMER_KEY = 'kIfyYdxTpAdn201jTngWDG06E'
CONSUMER_SECRET = 'PGELl3ticAMTOMtZm2qbpF2EK8jpp1vnRLIA8P53V8Ctp99sUx'

ACCESS_TOKEN = '500966533-Ojcp3bcWdtXZiG8eGR5N1Y3514eZCTcKsaFVT3pv'
ACCESS_SECRET = '38jdrYT2eSefS5GrU4q6sw8oJiYmQ5FkProK7abMdUzIK'

#### Function to access the last 200 tweets

In [3]:
def twitter_setup():
    """
    Utility function to setup the Twitter's API
    with our access keys provided.
    """
    
    auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
    auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)
    
    api = tweepy.API(auth)
    return api

In [4]:
extractor = twitter_setup()

In [5]:
tweets = extractor.user_timeline(screen_name="DARRENHARDY", count=200)
print("number of tweets extracted: {}.\n".format(len(tweets)))

number of tweets extracted: 200.

#### Sample of the last 5 tweets

In [6]:
print("5 recent tweets:\n")
for tweet in tweets[:5]:
    print(tweet.text, '\n')

5 recent tweets:

Are you a self-made success? You sure?? Before you answer, you might want to watch today's #DarrenDaily here: https://t.co/X1ssXdBQeO

Consistency will help you achieve your biggest dreams. Get the exact tools and resources I use to stay on track at… https://t.co/srYGn80zyx

Become the powerful &amp; persuasive influencer you KNOW you can be with this (free!) 5-part persuasion training series… https://t.co/wRc3r8H7Jh

The tools &amp; resources you need to 5x your income &amp; influence revealed THIS Thursday here (limited capacity!):… https://t.co/LhAMdJSFJv

@ZachFuhr We have reached out over DM!

## Create dataframe with the tweets and the relevant information we can extract from them

In [7]:
df = pd.DataFrame([tweet.text for tweet in tweets], columns=['Tweets'])

In [8]:
df.head()

                                              Tweets
0  Are you a self-made success? You sure?? Before...
1  Consistency will help you achieve your biggest...
2  Become the powerful &amp; persuasive influence...
3  The tools &amp; resources you need to 5x your ...
4             @ZachFuhr We have reached out over DM!

In [9]:
print(dir(tweets[0]))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_api', '_json', 'author', 'contributors', 'coordinates', 'created_at', 'destroy', 'entities', 'favorite', 'favorite_count', 'favorited', 'geo', 'id', 'id_str', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'parse', 'parse_list', 'place', 'possibly_sensitive', 'retweet', 'retweet_count', 'retweeted', 'retweets', 'source', 'source_url', 'text', 'truncated', 'user']

In [10]:
print(tweets[0].id)
print(tweets[0].created_at)
print(tweets[0].source)
print(tweets[0].favorite_count)
print(tweets[0].retweet_count)
print(tweets[0].geo)
print(tweets[0].coordinates)
print(tweets[0].entities)

913108225788186624
2017-09-27 18:29:00
Buffer
1
0
None
None
{'symbols': [], 'urls': [{'url': 'https://t.co/X1ssXdBQeO', 'expanded_url': 'https://buff.ly/2fGHg7A', 'indices': [110, 133], 'display_url': 'buff.ly/2fGHg7A'}], 'user_mentions': [], 'hashtags': [{'indices': [91, 103], 'text': 'DarrenDaily'}]}

In [11]:
df['len'] = np.array([len(tweet.text) for tweet in tweets])
df['ID'] = np.array([tweet.id for tweet in tweets])
df['Date'] = np.array([tweet.created_at for tweet in tweets])
df['Source'] = np.array([tweet.source for tweet in tweets])
df['Likes'] = np.array([tweet.favorite_count for tweet in tweets])
df['Re_Tweets'] = np.array([tweet.retweet_count for tweet in tweets])

In [12]:
df.head()

,Tweets,len,ID,Date,Source,Likes,Re_Tweets
0,Are you a self-made success? You sure?? Before...,133,913108225788186624,2017-09-27 18:29:00,Buffer,1,0
1,Consistency will help you achieve your biggest...,139,913074643711479809,2017-09-27 16:15:33,Buffer,22,9
2,Become the powerful &amp; persuasive influence...,144,913042305967362049,2017-09-27 14:07:03,Buffer,14,9
3,The tools &amp; resources you need to 5x your ...,142,912845002761494528,2017-09-27 01:03:03,Buffer,14,4
4,@ZachFuhr We have reached out over DM!,38,912748902339698688,2017-09-26 18:41:11,Twitter Web Client,0,0

In [13]:
max_like = max(df['Likes'])
max_Re_Tweets = max(df['Re_Tweets'])

#### Most popular tweets

In [14]:
df[df['Likes'] == max_like]

,Tweets,len,ID,Date,Source,Likes,Re_Tweets
187,Your bank account a year from now will be dete...,132,892778793835933696,2017-08-02 16:07:06,Buffer,372,202

In [15]:
df[df['Re_Tweets'] == max_Re_Tweets]

,Tweets,len,ID,Date,Source,Likes,Re_Tweets
187,Your bank account a year from now will be dete...,132,892778793835933696,2017-08-02 16:07:06,Buffer,372,202

### Visualize the likes of the tweets

In [16]:
import plotly.plotly as py
import plotly.graph_objs as go

In [17]:
trace = go.Scatter(x=df['Date'], y=df['Likes'])

In [18]:
data = [trace]
py.iplot(data, filename='line')

### Compare the likes with the re_tweets

In [19]:
trace1 = go.Scatter(x=df['Date'], y=df['Likes'], name='Likes')
trace2 = go.Scatter(x=df['Date'], y=df['Re_Tweets'], name='Re-Tweets')



data = [trace1, trace2]
py.iplot(data, filename='2line')

### Sources for sending tweets

In [20]:
df['Source'].unique()

array(['Buffer', 'Twitter Web Client', 'SumAll'], dtype=object)

In [21]:
df['Source'][df['Source']=='Buffer'].count()

166

# Get sentiment of the tweets

In [22]:
import re

### First, we need to clean the text

In [23]:
def clean_tweet(tweet):
    '''
    Utility function to clean tweet text by removing links, special characters
    using simple regex statements.
    '''
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split())

In [24]:
clean_tweet(df['Tweets'][0])

'Are you a self made success You sure Before you answer you might want to watch today s DarrenDaily here'

In [25]:
df['Clean Tweets'] = np.array([clean_tweet(tweet) for tweet in df['Tweets']])

In [26]:
df.head()

,Tweets,len,ID,Date,Source,Likes,Re_Tweets,Clean Tweets
0,Are you a self-made success? You sure?? Before...,133,913108225788186624,2017-09-27 18:29:00,Buffer,1,0,Are you a self made success You sure Before yo...
1,Consistency will help you achieve your biggest...,139,913074643711479809,2017-09-27 16:15:33,Buffer,22,9,Consistency will help you achieve your biggest...
2,Become the powerful &amp; persuasive influence...,144,913042305967362049,2017-09-27 14:07:03,Buffer,14,9,Become the powerful amp persuasive influencer ...
3,The tools &amp; resources you need to 5x your ...,142,912845002761494528,2017-09-27 01:03:03,Buffer,14,4,The tools amp resources you need to 5x your in...
4,@ZachFuhr We have reached out over DM!,38,912748902339698688,2017-09-26 18:41:11,Twitter Web Client,0,0,We have reached out over DM

### The classify accoding to TextBlob

https://textblob.readthedocs.io/en/dev/

In [27]:
from textblob import TextBlob

In [28]:
def get_sentiment(clean_tweet):
    analysis = TextBlob(clean_tweet)
    if analysis.sentiment.polarity > 0:
        return 'positive'
    elif analysis.sentiment.polarity == 0:
        return 'neutral'
    else:
        return 'negative'

In [29]:
df['Sentiment'] = np.array([get_sentiment(tweet) for tweet in df['Clean Tweets']])

In [30]:
df.head()

,Tweets,len,ID,Date,Source,Likes,Re_Tweets,Clean Tweets,Sentiment
0,Are you a self-made success? You sure?? Before...,133,913108225788186624,2017-09-27 18:29:00,Buffer,1,0,Are you a self made success You sure Before yo...,positive
1,Consistency will help you achieve your biggest...,139,913074643711479809,2017-09-27 16:15:33,Buffer,22,9,Consistency will help you achieve your biggest...,positive
2,Become the powerful &amp; persuasive influence...,144,913042305967362049,2017-09-27 14:07:03,Buffer,14,9,Become the powerful amp persuasive influencer ...,positive
3,The tools &amp; resources you need to 5x your ...,142,912845002761494528,2017-09-27 01:03:03,Buffer,14,4,The tools amp resources you need to 5x your in...,negative
4,@ZachFuhr We have reached out over DM!,38,912748902339698688,2017-09-26 18:41:11,Twitter Web Client,0,0,We have reached out over DM,neutral

In [31]:
data = [go.Bar(
    x = ['negative', 'neutral', 'positve'],
    y = [df['Sentiment'][df['Sentiment']=='negative'].count(), 
         df['Sentiment'][df['Sentiment']=='neutral'].count(), 
         df['Sentiment'][df['Sentiment']=='positive'].count()]
        )]

py.iplot(data, filename='bars')

In [32]:
df[df['Sentiment']=='negative']

,Tweets,len,ID,Date,Source,Likes,Re_Tweets,Clean Tweets,Sentiment
3,The tools &amp; resources you need to 5x your ...,142,912845002761494528,2017-09-27 01:03:03,Buffer,14,4,The tools amp resources you need to 5x your in...,negative
27,Where to point your attention when the goings ...,80,910536299890843648,2017-09-20 16:09:05,Buffer,10,3,Where to point your attention when the goings ...,negative
41,@ryan_alling Nothing like a little R&amp;R ;),45,908777919941566464,2017-09-15 19:41:55,Twitter Web Client,1,1,alling Nothing like a little R amp R,negative
42,"“If you are not willing to risk the unusual, y...",97,908753293630951424,2017-09-15 18:04:03,Buffer,124,52,If you are not willing to risk the unusual you...,negative
55,New blog is up and running! Check it out and l...,132,907669157839118336,2017-09-12 18:16:05,Buffer,13,7,New blog is up and running Check it out and le...,negative
70,Don't make this common mistake when it comes t...,119,905493332117377024,2017-09-06 18:10:08,Buffer,26,16,Don t make this common mistake when it comes t...,negative
74,Find out the 8 TRAGIC mistakes most entreprene...,125,905133712664354817,2017-09-05 18:21:08,Buffer,13,5,Find out the 8 TRAGIC mistakes most entreprene...,negative
84,How are things for you lately? Need a reset? U...,140,903618991809339393,2017-09-01 14:02:10,Buffer,45,12,How are things for you lately Need a reset Use...,negative
110,Get the 8 tragic mistakes most entrepreneurs m...,128,900725140698345472,2017-08-24 14:23:02,Buffer,6,3,Get the 8 tragic mistakes most entrepreneurs m...,negative
118,"5 ways to get used to being uncomfortable, ft....",99,900028052033466368,2017-08-22 16:13:03,Buffer,12,7,5 ways to get used to being uncomfortable ft D...,negative
121,Don't be INSANE! https://t.co/kGsTWz1i7I,40,899696415617712132,2017-08-21 18:15:15,Buffer,38,23,Don t be INSANE,negative
127,DarrenDaily STAR series ft. April Roberts... \...,140,898610463977611265,2017-08-18 18:20:04,Buffer,9,2,DarrenDaily STAR series ft April Roberts Falli...,negative
129,Take one small step to move yourself closer to...,109,898276754527334400,2017-08-17 20:14:02,Buffer,35,10,Take one small step to move yourself closer to...,negative
139,Fail forward this week! #BetterEveryDay https:...,63,897821502384611328,2017-08-16 14:05:01,Buffer,40,13,Fail forward this week BetterEveryDay,negative
143,"Choose to be among the world class few, rather...",86,897460871429054466,2017-08-15 14:12:00,Buffer,82,32,Choose to be among the world class few rather ...,negative
146,"""What lies behind us and what lies before us a...",118,897130446395518976,2017-08-14 16:19:00,Buffer,107,45,What lies behind us and what lies before us ar...,negative
157,I don't suggest you cut out EVERY bad habit in...,111,895317780156751872,2017-08-09 16:16:07,Buffer,14,6,I don t suggest you cut out EVERY bad habit in...,negative
162,Arrghhhh! \nThere’s a reason I have this sill...,131,894955651914510340,2017-08-08 16:17:09,Buffer,8,4,Arrghhhh There s a reason I have this silly th...,negative
166,@c21sylviag Hi Sylvia. Unfortunately there is ...,94,894599765890965504,2017-08-07 16:42:59,Twitter Web Client,0,0,Hi Sylvia Unfortunately there is no save optio...,negative
171,"We all have the same 24/7/365... ""not enough t...",137,893534522414952448,2017-08-04 18:10:05,Buffer,56,31,We all have the same 24 7 365 not enough time ...,negative
173,You lose one out of five for being too aggress...,94,893506850875994117,2017-08-04 16:20:08,Buffer,55,26,You lose one out of five for being too aggress...,negative
182,"@bobkalo Hey Bob, I am so sorry you've had som...",122,893134103565918210,2017-08-03 15:38:58,Twitter Web Client,0,0,Hey Bob I am so sorry you ve had some trouble ...,negative
191,"Dreams come with strings attached: hard work, ...",121,892418154697281536,2017-08-01 16:14:03,Buffer,89,36,Dreams come with strings attached hard work de...,negative
194,Life is either about finding a way or coming u...,86,892129244385619969,2017-07-31 21:06:01,Buffer,116,54,Life is either about finding a way or coming u...,negative
195,Have you tuned into DarrenDaily over the past ...,133,892098546870222849,2017-07-31 19:04:02,Buffer,12,4,Have you tuned into DarrenDaily over the past ...,negative

### From here other analysis can be made, like correlate the sentiment with likes and re-tweets.

In [33]:
df.groupby('Sentiment', axis=0).mean()

                  len            ID      Likes  Re_Tweets
Sentiment
negative   107.680000  8.997709e+17  37.000000  15.840000
neutral     93.626866  9.034466e+17  37.656716  17.119403
positive   105.592593  9.018476e+17  31.537037  11.722222

#### The average likes for a tweet with a negative connotation is almost 38, while the ones with a positive one, are only 32.
#### A similar effect happens with the re-tweets.

### ...